@page
@model mywebapp.Pages.LoginModel
@{
  ViewData["Title"] = "Login Page";
}

<div class="jumbotron text-center">
    <h1>Login Page</h1>
    <p>This is the Login Page</p>

</div>
<form action="" method="post">
  	<label>Username:</label>
  	<input type="text" name="username">
  	<br>
  	<label>Password:</label>
  	<input type="password" name="password">
  	<br>
  	<input type="submit" value="Login">
  	

</form>
<p>Don't have an account? <a asp-area="" asp-page="/Signup">Sign Up</a></p>

