@page
@model mywebapp.Pages.ServicesModel
@{
    ViewData["Title"] = "Services Page";
}

<div class="jumbotron text-center">
    <h1>Services Page</h1>
    <p>This is the Services Page</p>

</div>

